#terminal {
  font-size: 12px;
  /* white-space: pre-wrap; */
}

pre {
  color: white !important;
}

#terminal-container{
  color: white;
  background: rgb(22, 22, 22);
  padding: 25px;
  overflow: auto;
  overflow-x: hidden;
  height: 45vh;
}

#terminal-container::-webkit-scrollbar {
  display: none;
}
