@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.terminal-controls {
  background-image: linear-gradient(to bottom, #3f3f3f 0%, #585858 100%);
  display: flex;
  align-items: center;
}

.terminal-user-info {
  margin-left: calc(50% - 120px);
  color: white;
  font-size: 12px;
}

.page {
  height: 70vh;
}

.terminal {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.terminal-body {
  background: #300924;
  color: white;
  font-size: 12px;
  height: 30vh;
  overflow-y: scroll;
  padding: 10px;
}

.terminal textarea {
  background: #300924;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  width: 100%;
}

.terminal-controls [type='button'] {
  outline: none;
  background: transparent;
  border: none;
  padding: 3px 10px;
  cursor: pointer;
  color: white;
}
